@import "tailwindcss";

@theme {
  --color-dark-bg: #1a202c;
  --color-dark-text: #e2e8f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

.dark {
  color-scheme: dark;
}
